body {
    background-color: #E7402a;
    /* padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; */
}
/* 
#primary-btn {
    display: flex;
    flex-direction: column;
    align-items: center;

    

}

#textarea {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pic {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#create-btn {
    background-color: #45b348;
    border-radius: 25px
}

#sign-inBtn {
    background-color: #45b348;
    border-radius: 25px
    
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #E7402a;
}
