
WE MADE IT! :)
<div class="control">
  <label class="radio">
    <input type="radio" name="answer" value="Heads" checked>
    Heads
  </label>
  <label class="radio">
    <input type="radio" name="answer" value="Tails">
    Tails
  </label>
</div>
<button id="start" class="button is-warning">start</button>
<script src="./js/coinflip.js"></script>