<div class="columns">
  <div class="column">
    <h2>Welcome, {{username}}</h2>
  </div>
</div>

<div class="columns is-centered">
  <div class="column">
    <img class="px-3" src="/img/avatar_placeholder.png" alt="User Avatar">
  </div>

  <div class="column is-centered">
    <div class="box column is-three-fifths">
      <h3 class="column is-centered">STATS</h3>
      <div class="column is-centered">
        <h4>WINS:</h4>
        <h4 id="winsText"></h4>
        <h4>LOSSES:</h4>
        <h4 id="lossesText"></h4>
      </div>
    </div>
  </div>
</div>

<script src="/js/profile.js"></script>
