<div class="columns">
  {{!-- Column One with image and title --}}
  <div class="column">
    <div class="center"> 
      <h1>Git-Lucky</h1>
      <img src='../img/Poker-chip.png' />
    </div>
  </div>
  {{!-- Column Two with login input --}}
  <div class="column">
    <div class="center">
      <form class='signup-form'>
        <div id='textarea' class='field'>
          <div class='control'>
            <input class='input' id='username-signup' type='text' placeholder='USERNAME' />
          </div>
        </div>

        <div id='textarea' class='field'>
          <div class='control'>
            <input class='input' id='password-signup' type='password' placeholder='PASSWORD' />
          </div>
        </div>

        <div id='secondary-btn'>
          <button id='sign-inBtn' class='button is-primary'>CREATE NEW ACCOUNT</button>
        </div>
      </form>
      <script src='/js/signup.js'></script>
      <a id='loginRedirect' class='button is-link' href="/login">GO BACK</a>
    </div>
  </div>
</div>